@{
    ViewData["Title"] = "Dummy Government Service";
}

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <div class="govuk-!-margin-bottom-9">
        <h1 class="govuk-heading-l">
            User information
        </h1>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Email
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @User.Claims.First(c => c.Type.Equals("email")).Value
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Family Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @User.Claims.First(c => c.Type.Equals("family_name")).Value
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Forename
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @User.Claims.First(c => c.Type.Equals("given_name")).Value
                    </dd>
                </div>
            </dl>
        </div>
        <a href="/Logout" class="govuk-button">Log out</a>
    </div>
</main>
