<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<h1>Oops something went wrong</h1>

<p> Error: {{error}}</p>
<p> Error description: {{error_description}}</p>
</body>
</html>